/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  cursor: pointer;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100vh;
    line-height: 1.5;
    background-color: black;
    color: white;
    display: grid;
    gap: 16px;
    place-content: center;
    text-align: center;
  }
  
  #title {
      background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: hue 10s infinite linear;
  }
  
  .quote-box {
      width: 400px;
      padding: 16px;
      border: 5px solid;
      border-image: linear-gradient(45deg, purple, orange) 1;
  }
  
  #author {
      float: right;
      color: gray;
      font-weight: bold;
      font-style: italic;
  }
  
  #btn {
      padding: 8px;
      text-transform: uppercase;
      letter-spacing: 3px;
      transition: all 0.3s ease;
      border: 2px solid white;
      background-color: black;
      color: white;
  }
  
  #btn:hover {
      background-color: white;
      color: black;
  }
  